body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

html, body {
  height: 100%;
}
div, p, input, button, span {
  box-sizing: border-box;
}

input {
  outline: none;
}

.user-block {
  background-image: linear-gradient(to right, #2B4560,#2F6D80);
  position: fixed;
  top: 0;
  padding: 12px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-content {
  text-align: center;
}
.user-block .title {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.user-block .button {
  margin-top: 4px;
}
.form-input {
  border: 1px solid #333;
  border-radius: 4px 4px;
  padding: 8px 8px;
  min-width: 200px;
}

.button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px 4px;
  min-width: 100px;
  padding: 6px 4px;
}

.button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.close {
  display: none;
}

.member-join {
  color: #E1E7E0;
  font-size: 12px;
  text-align: center;
}

.chat-wrapper {
  background-color: #2B4560;
  padding-top: 10px;
  min-height: 100%;
}

.chat-content {
  padding-bottom: 64px;
}

.chat-box {
  padding: 4px 20px;
}

.chat-name {
  font-size: 12px;
  margin-bottom: 4px;
}
.chat-dialog {
  display: inline-block;
  max-width: 70%;
  background-color: #E1E7E0;
  border: 1px solid #333;
  border-radius: 0 10px 10px 10px;
  padding: 12px 12px;
  position: relative;
}

.chat-box.me {
  text-align: right;
}

.chat-box.me .chat-dialog {
  background-color: #fff;
  border-radius: 10px 0 10px 10px;
}


.message-controller {
  background-image: linear-gradient(to right, #2F6D80, #6AA4B0);
  display: flex;
  padding: 12px 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.message-controller .form-input {
  flex-grow: 1;
}
.message-controller .button {
  margin-left: 12px;
}